.quarto-title-block .quarto-title-banner {
  background-image: url(images/qau1.jpg);
  background-size: 600px;
  background-position: left;
  background-repeat: no-repeat;
  padding-left: 20px;
  background-origin: content-box;
}